.button-container {
  position: relative;
  display: inline-block;
  padding: 1rem;
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
  width: 100%;
  max-width: 270px;

  &:hover {
    &>.primary-span {
      transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
    }

    &>.secondary-span {
      background-color: #000000;
      background-color: #ffffff;
    }

    &>.content-span {
      color: #ffffff;
      color: #000000;
    }

  }

  .primary-span {
    --tw-translate-y: 0.25rem;
    --tw-translate-x: 0.25rem;
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    // transititon
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 0.2s;

    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
    background-color: #000000;
    background-color: #ffffff;
  }

  .secondary-span {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    border-color: #ffffff;
  }

  .content-span {
    font-size: 1.5rem;
    position: relative;
    color: #000000;
    color: #ffffff;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
}