@use "../../../../scss/root" as *;
@use "../../../../scss/mixin.scss" as *;
@use "../../../../scss/responsive.scss" as *;

.hometown {
  height: calc(100vh - 4.75rem);
  overflow: hidden;
  position: relative;

  .wrap-moutain {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 300px;
    background-image: url("../../../../assets/mountain.png");
    background-position: bottom;
    background-repeat: repeat-x;

    @include table {
      background-size: contain;
    }
  }

  .sun {
    display: block;
    position: absolute;
    width: 100px;
    top: 0%;
    left: 0%;
    height: auto;
    // transform: translateX(-180px);
    transform-origin: center;

    @include mobile {
      width: 65px;
    }
  }

  .bird-group {
    display: block;
    position: absolute;
    width: 17%;
    top: 54%;
    left: 17%;
    height: auto;
    transform-origin: center;
  }

  .paper-plane {
    display: block;
    position: absolute;
    width: 425px;
    bottom: 5%;
    right: 5%;
    height: auto;
    transform-origin: center;

    @include table {
      width: 285px;
      bottom: 10%;
    }

    @include mobile {
      right: -5%;
    }
  }

  .contents {
    width: 100%;
    position: absolute;
    top: 20%;
    background: transparent;

    &-text {
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
      text-align: left;

      .light-mountain {
        color: $active-txt;
      }

      @include mobile {
        font-size: 0.75rem;
      }
    }
  }
}