.nav-bar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  overflow-x: clip;

  &-title {
    transition: 1s cubic-bezier(.55, 0, .1, 1);
    font-weight: 600;
  }
}