.bar-icon {
  position: relative;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transform: rotate(-45deg);
  transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);

  &_line {
    width: 50%;
    height: 4px;
    background-color: #000000;
    transition: 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transform: translateX(0);
    opacity: 1;

    &:nth-child(3) {
      transition-delay: 0.1s;
    }

    &.primary {
      transition-delay: 0.15s;
      width: 80%;
    }

    &.hidden {
      transform: translateX(120px);
      opacity: 0;

      ~.primary {
        transform: translateX(120px);
      }
    }
  }

  // handle animation for close button
  &_close {
    position: absolute;
    width: 75%;
    height: 4px;
    background-color: #000000;
    transition: 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28);

    &.one {
      transform: translateX(-70px);
      transition-delay: 0.2s;
      opacity: 0;

      &.active-close {
        transform: translateX(0);
        opacity: 1;
      }
    }

    &.two {
      rotate: 90deg;
      transform: translateX(70px);
      // transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      transition-delay: 0.1s;
      opacity: 0;

      &.active-close {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}