@use "../../scss/root" as *;
@use "../../scss/mixin.scss" as *;
@use "../../scss/responsive.scss" as *;

.header {
  // opacity: 0;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 77px;
  transition: 0.5s;
  @include flex(space-between, center);
  padding: 1rem;
  overflow: hidden;
  border: 1px solid;
  z-index: 4;

  &-title {
    transition: 1s cubic-bezier(.55, 0, .1, 1);
    font-weight: 600;
  }
}
