@use "../../../../scss/root" as *;
@use "../../../../scss/mixin.scss" as *;
@use "../../../../scss/responsive.scss" as *;

.discover {
  background: radial-gradient(ellipse at bottom, #ffffff 0%, #ffffff 100%);
  height: calc(100vh - 4.75rem);
  overflow: hidden;

  &-text {
    width: 600px;
    position: absolute;
    bottom: 20%;
    right: 0%;
  }

  .rada {
    position: absolute;
    width: 200px;
    top: 5%;
    right: 5%;
    transform-origin: center;

    @include table {
      width: 285px;
      bottom: 10%;
    }

    @include mobile {
      right: -5%;
    }
  }

  .earth {
    position: absolute;
    width: 50%;
    max-width: 400px;
    min-width: 350px;
    bottom: -8%;
    left: -15%;
    transform-origin: center;

    // @include table {
    //   width: 285px;
    //   bottom: 10%;
    // }

    // @include mobile {
    //   right: -5%;
    // }
  }

  .paper-plane {
    position: absolute;
    width: 300px;
    top: 0%;
    left: 15%;
    transform-origin: center;
    transform: scaleX(-1);

    // @include table {
    //   width: 285px;
    //   bottom: 10%;
    // }

    // @include mobile {
    //   right: -5%;
    // }
  }
}