.hero {
  display: flex;
  height: calc(100vh - 4.75rem);
}

.text-wrapper {
  padding: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;

  &-group {
    display: flex;
    align-items: flex-end;

    .prefix {
      font-size: 3rem;
      font-weight: 500;
    }

    .name {
      font-size: 8rem;
      font-weight: 800;
      line-height: 7rem;
      margin-left: 1rem;
      text-transform: uppercase;
    }
  }

  .job {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: left;
  }

  .pharagraph {
    margin-top: 1rem;
    text-align: left;
  }

  .help-text {
    margin-top: 1.5rem;
    text-align: left;
  }
}