$desktop-max: 1280px;
$desktop: 1024px;
$table: 768px;
$mobile: 480px;
$under: 320px;

@mixin desktop-max {
  @media (max-width:#{$desktop-max}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width:#{$desktop}) {
    @content;
  }
}

@mixin table {
  @media (max-width:#{$table - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width:#{$mobile}) {
    @content;
  }
}

@mixin under {
  @media (max-width:#{$under - 1px}) {
    @content;
  }
}